$color__primary: #E1B168;
$color__secondary: #292E36;
$color__medium--gray: #555555;
$color__slate--gray: #343942;
$color__soft--cream: #FFF8F5;
$color__light--gray: #DEDEDE;
$color__white: #FFFFFF;
$color__slate: #5C6168;
$color__dark--medium--gray: #4A4A4A;